:root {
    --main-color: rgb(252, 101, 113);
    --green-color: rgb(214, 214, 214);
    --gray-color: rgb(194, 194, 194);
}

body,p,h1,h2,h3,h4,h5,h6 {font-family: sans-serif;}
body, html {
    padding: 0;
    margin: 0;
}

#c {
    background-color: grey;
    margin-top: 10px;
}
#Collaging-container {
  margin: auto;
  text-emphasis: center;
}
canvas {
  display: inline;
  border: gray 1px solid;
}
.canvas-box {
  /* background-color: rgba(255, 85, 85, 0.664); */
  display: inline-block;
  height: 1200px;
  vertical-align: top;
}
button {
  padding: 10px 20px;
}
.Collaging-button {
  padding: 50px;
  font-size: 25px;
}

#file {
  display: none;
}


/* Hide input field, we want to use our button or w/e */
#input-file-upload {
  height: 0;
  width: 0;
  visibility: hidden;
  overflow: hidden;
  position: absolute;
}

.u-inline {display: inline-block;}


input[type="color"] {
	-webkit-appearance: none;
	border: none;
	width: 200px;
	height: 120px;
  border-radius: 10px;
  cursor: pointer;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 10px;
}
input[type="color"]::-webkit-color-swatch {
	/* border: none; */
}